<!-- HOERO_en -->
{% extends "base.html" %}
{% block title %}Home{{ block.super }}{% endblock %}
{% block content %}
{% load static %}

<section id="top">
<div class="container">
  <div class="row">
    <div class="col mx-auto">
   <h1>TEST_00 ４月３日</h1>
      <h1>World of HOERO Dental Tecnician!!</h1>
      <h2>I am Dental Tecnitian.Every day is fun.</h2>
      <img src="{% static 'top03.jpg' %}">
      <h2>BE TOGETHER</h2>
      <h2>TEST!!</h2>
      <p>diary</p>

    </div>
  </div>
</div>

</section>


   <div class="my-3">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link{% if prev %} active{% endif %}" href="/n001211">11/12/2000</a></li>
        <li class="nav-item"><a class="nav-link{% if prev %} active{% endif %}" href="/n001217">17/12/2000</a></li>
        <li class="nav-item"><a class="nav-link{% if prev %} active{% endif %}" href="/n001220">20/12/2000</a></li>
        <li class="nav-item"><a class="nav-link{% if prev %} active{% endif %}" href="/n001221">21/12/2000</a></li>
        <li class="nav-item"><a class="nav-link{% if prev %} active{% endif %}" href="/omake">OMAKE</a></li>

     </ul>
   </div> 
  
{% endblock %}