<!-- HOERO_en -->
<!DOCTYPE html>

<HTML lang="en">
<HEAD>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JLCPNFKCHD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JLCPNFKCHD');
    </script>

 
    <meta name=”viewport” content=”width=device-width,initial-scale=1″>  
    <meta http-equiv="content-type" charset="utf-8">
    <meta name="robots" content="all">
    <meta http-equiv="Content-Style-Type" content="text/css"> 
    <meta name=“keywords” content=“dentaltecnitian”>
    <link rel="canonical" href="https://hoeroworld.shibuya8020.com/">
    <meta name="description" content="HOERO" />
    <title>11/12/2000 | HOERO</TITLE>

    <!--require_stylesheet-->  
    <link rel="stylesheet" href="page.css">

    <!--Favicon-->
    <!-- <link rel="icon"href="shibuya/favicon.ico"> -->

</head>



<body>
  
   
<center> <h1>11/12/2000</h1></center>
<div class="box01">
        <div class="box00">
            <IMG SRC="images/nikki/001211/1211kuikku.jpg">
            
        </div>

<h3>separate</h3>
</div>

<div class="box01">
    <div class="box00">
        <IMG SRC="images/nikki/001211/waxup.jpg">
        
    </div>

<h3>Waxup</h3>
</div>

<div class="box01">
    <div class="box00">
       <IMG SRC="images/nikki/001211/1211supurutate.jpg">
        
    </div>

<h3>burial</h3>
</div>

<div class="box01">
    <div class="box00">
        <IMG SRC="images/nikki/001211/1211tyuuzou01.jpg">
    </div>

<h3>cast</h3>
</div>

<center><a href="https://hoeroworld.shibuya8020.com/"><h3>HOERO</h3></a> </center>
    


</center></body></html>
