<!-- HOERO -->
<!DOCTYPE html>

<HTML lang="ja">
 <HEAD>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JLCPNFKCHD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-JLCPNFKCHD');
    </script>
        <meta name=”viewport” content=”width=device-width,initial-scale=1″>  
        <meta http-equiv="content-type" charset="utf-8">
        <meta name="robots" content="all">
        <META http-equiv="Content-Style-Type" content="text/css"> 
        <link rel="canonical" href="https://hoero.shibuya8020.com/">
        <meta name=“keywords” content=“歯科技工士,歯科技工,”>
        <meta name="description" content="歯科技工士の総合サイト" />
        <title>Bonus | HOERO</TITLE>

        <!--require_stylesheet-->     
        <link rel="stylesheet" href="page.css">

         <!--Favicon-->   
         <link rel="icon"href="HOERO_favicon.ico">
    

 </head>


<body>

    <center>
    <h1>08/04/2000 Bonus</h1>


    <div class="box01">
        <div class="box00">
            <IMG SRC="images/nikki/010407/010407.013.jpg">
            
        </div>

        <h3>GUNDAM_</h3>
        <h3>The metal is Ag</h3>
    </div>

    <div class="box01">
        <div class="box00">
            <IMG SRC="images/nikki/010407/010407.014.jpg">
            
        </div>

        <h3>beam saber too</h3>
    </div>

    <div class="box01">
        <div class="box00">
            <IMG SRC="images/nikki/010407/010407.015.jpg">
            
        </div>

        <h3>burial</h3>
    </div>

    <div class="box01">
        <div class="box00">
            <IMG SRC="images/nikki/010407/010407.016.jpg">
            
        </div>

        <h3>cast</h3>
    </div>

    <div class="box01">
        <div class="box00">
            <IMG SRC="images/nikki/010407/gundam.jpg">
            
        </div>

        <h3>cast</h3>
    </div>










</center>


<center><a href="https://hoeroworld.shibuya8020.com/"><h3>HOERO</h3></a> </center>


</center></body></html>